<br><br>
<big>Company Name: </big> <big><%= @company.name %></big><br>
<big>Website URL: </big> <big><%= @company.website %></big><br>
<big>Notes: </big> <big><%= @company.notes %></big>

<br><br>
<h4><%=  link_to "Back to Companies", companies_path, :class => "btn btn-primary btn-sm" %></h4>